/* Apply box-sizing border-box to all elements */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('../multimedia/background-profile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: white;
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, #0c6fd8, #66c612); /* Gradient de celeste a amarillo */
  color: white;
  padding: 10px;
  text-align: center;
}
h1 {
  margin-top: 20px;
  color: #8be40e;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

/* Post section */
.post-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.post-item img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
}

.post-caption {
  padding: 10px;
  font-size: 14px;
}

.post-date {
  font-size: 12px;
  color: #777;
  margin-top: 5px;
}

/* New Post button styles */
.new-post-label {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 5px;
}

.new-post-label:hover {
  background-color: #0056b3;
}

/* Style label for file input */
.new-post-label {
  cursor: pointer;
}

.new-post-button {
  display: block;
}

/* Style for the submit button */
.submit-button-post {
  background-color: rgb(120, 227, 13);
  width: 70px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate it from the New Post button */
  position: relative; /* Set position to relative */
}

.submit-button-post:hover {
  background-color: rgb(102, 195, 8);
}

/* Create the arrow */
.submit-button-post::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust as needed */
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid white; /* Change color as needed */
  transform: translateY(-50%);
}

/* Hide default file input appearance */
#file-input {
  display: none;
}

/* Profile section */
.profile-section {
  text-align: center;
}

.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid rgb(9, 94, 198);
  margin-bottom: 20px;
}

.profile-name {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile-bio {
  margin-bottom: 20px;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.stat-item {
  text-align: center;
}

.stat-label {
  font-weight: bold;
  color: white;
}

.stat-value {
  color: whitesmoke;
}

/* Friend section */
.friend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.friend-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.friend-name {
  font-weight: bold;
}

/* Photos section */
.photos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.photos-container img {
  width: 100%;
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Scroll down arrow */
.scroll-down-arrow {
  text-align: center;
  margin-top: 20px;
}

.scroll-down-arrow i {
  font-size: 24px;
  color: #007bff;
  animation: arrow-bounce 1s infinite alternate;
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}